app: cloudnativepoll

git-uri: https://github.com/alexandreroman/cloudnativepoll.git
git-branch: master
git-module: .
git-ci-uri: https://github.com/johndoe/myrepo.git
git-username: johndoe
git-password: accesstoken

github-owner: johndoe
github-repo: eurodol
github-access-token: accesstoken

cf-api: api.run.pivotal.io
cf-username: johndoe@pivotal.io
cf-password: secret
cf-org: org
cf-space: dev

cf-manifest: |
  ---
  applications:
  - name: ((app))
    path: ((app)).jar
